.custom-cards .card {
  border-radius: 10px;
}

.custom-card-height {
  height: 100%;
}

.custom-card-img {
  height: 200px; 
  object-fit: cover;
  width: 100%;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-body a {
  color: #007bff;
  text-decoration: none;
}

.card-body a:hover {
  text-decoration: underline;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-warning:hover {
  background-color: #ec971f;
  border-color: #d58512;
}

.custom-signin-card {
  height: 120px; 
}

.custom-image-wrapper {
  height: calc(50% - 12px - 16px); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-comp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.box {
  background-color: white;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 340px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  margin: 10px 0;
}

.box img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.box h3 {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.box a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.box a:hover {
  text-decoration: underline;
}
